/* Universal Styles */

html {
    background-color: #F7FFE5;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.button {
    border-radius: 5px;
    border: 1px solid #272829; /* chosen shade of black */
    padding: 10px;
    background-color: #F7FFE5; /* light green */
    color: #272829; 
}

/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white; 
    border-bottom: solid 1px #C6C1C1;
}

header .content {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 5rem; /* 80px */
    margin: auto 3.125rem; /* 50px */
}

header .logo {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem; /* 40px */
    flex: 1 1 2.5rem;
    text-decoration: none;
    text-align: horizontally;
}

header nav ul {
    display: flex; /* creates flex container for li elements */
    list-style: none; /* gets rid of bulletpoints */
}

nav li {
    padding-left: 2.5rem;
    color: #61677A;
    font-size: 1.25rem; 
    line-height: 1.6;
    vertical-align: baseline;
}

nav a {
    vertical-align: baseline;
    line-height: 1.6;
    font-size: 1.25rem;
    color: #61677A;
    text-decoration: none;

    /* transition to darker color on hover */   
    transition-property: color;
    transition-duration: 250ms;
}

nav a:hover {
    color: #272829;
}

a.reserve { /* styling the reserve button */
    padding: 12.5px 30px;   

    /* transition to darker shade on hover */
    transition-property: background-color;
    transition-duration: 500ms;
}   

a.reserve:hover {
    background-color: #A0C49D;
}