/* Universal Styles */

html {
    color: #272829; /* chosen shade of black */
    background-color: #F7FFE5;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.main-content {
    position: relative;
    top: 5rem; /* offsets the content due to fixed header */ 
}

.left {
    text-align: left;
}

.center {
    text-align: center;
} 
  
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: .25rem;
    border: 1px solid #272829; 
    padding: 0.625rem;
    background-color: #F7FFE5; /* light green */
    color: #272829; 

    transition-property: background-color;
    transition-duration: 250ms;
}

.button:hover {
    background-color: #A0C49D;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white; 
    border-bottom: solid 1px #C6C1C1;
}

header .content {
    display: flex;
    align-items: center;
    height: 5rem; /* 80px */
    margin: auto 3.125rem; /* 50px */
}

header .logo {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem; /* 40px */
    flex: 1 1 2.5rem;
    text-decoration: none;
}

header nav ul {
    display: flex; /* creates flex container for li elements */
    list-style: none; /* gets rid of bulletpoints */

    justify-content: center;
    align-items: center;
}

nav li {
    padding-left: 2.5rem;
    color: #61677A;
    font-size: 1.25rem; 
    line-height: 1.6;
    vertical-align: baseline;
}

nav a {
    vertical-align: baseline;
    line-height: 1.6;
    font-size: 1.25rem;
    color: #61677A;
    text-decoration: none;

    /* transition to darker color on hover */   
    transition-property: color;
    transition-duration: 250ms;
}

nav a:hover {
    color: #272829;
}

nav a.reserve { /* styling the reserve button */
    padding: .75rem 1.5rem;
}   



/* Hero Image Section */

#hero-image-container {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/coffee-and-croissants.JPG');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

h2.mono-subtitle {
    color: #F7FFE5;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

h1.logo {
    font-family: "Dancing Script", "Pacifico";
    font-size: 8rem;
    text-decoration: none;
    text-align: center;
    margin: 1rem auto 3rem auto;
}

#cta-button { /* for styling the background and border and details of the button */
    font-size: 1.25rem;
    padding: 1.25rem 3.75rem;
    margin: 0 auto; /* centers button */

    color: white;
    border-color: white;
    background-color: transparent;

    transition: color 250ms, background-color 250ms;
}

#cta-button:hover {
    color: #272829;
    background-color: white;
}


/* Middle of Page Section */

#middle-page-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.125rem;
    height: 40rem;
}

.middle-page-headings { /* Styling the h2 headings */
    font-size: 2rem;
    margin-bottom: 1.25rem; /* 20px */
}

/* Left-side Column */

.subsection {
    display: flex;
    align-items: stretch;

    /* border: 1px solid black; */

    padding: 1.25rem 0; /* 20px */
    margin-bottom: 1.25rem; /* To separate the two menu subsections */
}

.menu-images {
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 1.25rem;
}

.menu-images img { /* Setting the size of the images */
    display: block;
    height: auto;
    max-width: 100%;

    border: 2px solid #272829;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Example shadow */
}

.menu-content { /* To place the content to the right */
    flex: 2;
    max-width: 60%;
}

.menu-content h3 {
    font-size: 1.5rem;
    margin-bottom: .625rem;
}

.menu-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}


/* Right-side Column */

#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-us p {
    text-align: justify;
}


